* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 576px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.debug {
  background-color: greenyellow;
}

/* ------------------------- HEADER ------------------------- */

header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  background-color: #0084FD;
  z-index: 999;
}

header .box {
  margin-top: 0px;
  justify-content: space-between;
}

header .box .left,
header .box .right{
  align-items: center;
  height: 75px;
}

/* ------------------------- HERO ------------------------- */

main {
  margin: auto;
}

main .hero {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
}

main .hero .card {
  min-width: 100%;
  height: 300px;
  margin: 20px auto;
  background-color: aliceblue;
}

/* ------------------------- PLANNING ------------------------- */

main .planning .row {
  height: 200px;
  background-color: #9792E4;
}

main .planning .row .left,
main .planning .row .right {
  margin: auto;
  width: 90%;
  height: 50%;
  justify-content: center;
}


/* ------------------------- TESTIMONIALS ------------------------- */

main .testimonials {
  
  text-align: center;
  padding: 40px 0;
}

main .testimonials .card {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
  background-color: #9792E4;
  margin: 30px auto;
}


/* ------------------------- BENEFITS ------------------------- */

main .benefits {
  text-align: center;
  background-color: #9792E4;
  padding: 40px 0;
}

main .benefits .card {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 30px auto;
  background-color: white;
}

/* ------------------------- ABOUT-US ------------------------- */

main .about-us {
  padding: 40px 0;
  text-align: center;
  height: 200px;
}

/* ------------------------- FOOTER ------------------------- */

footer .top {
  text-align: center;
  background-color: #9792E4;
}

footer .bottom {
  text-align: center;
  background-color: #333333;
}